# Previous Works folder
previousWorks/

# OS files
.DS_Store

# Claude files
.claude/

# data 
agentic_recommender/data/inputs
agentic_recommender/data/outputs

# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Logs
logs/